/* Created by J. Blackburn - Jan 8 2025 */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0px;
  color: #333;
  background: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.content-left {
  width: 45%;
}

.content-left img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content-right {
  height: 100vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-right header {
  margin: 50px;
  width: 75%
}

.content-right h1 {
  text-align: center;
  font-size: 2rem;
}

.content-right h4 {
  padding-left: 5%;
  margin: 0;
}

.content-right ul {
  text-align: center;
  padding: 0;
  width: 20%;
  list-style: none;
}

.content-right li {
  margin: 10px;
}

.content-right a {
  color: rgba(150, 100, 255, 1);
  /*color: rgba(255, 0, 100, 0.6);*/
}

.content-right a:hover {
  color: blue;
}

#pinned-projects {
  margin-top: 20px;
  padding: 0;
}


.content-right figcaption {
  margin-top: auto;
  align-self: flex-start;
  width: 60%;
  padding: 10px;
  color: grey;
  font-size: 0.9rem;
  font-style: italic;
}



footer {
  font-style: italic;
  padding-top: 30px;
  margin: 0 30% 0 30%;
  color: lightgrey;
}

footer a {
  color: rgba(150, 100, 255, 1);
}

footer a:hover {
  color: blue;
}
