/* Created by J. Blackburn - Jan 8 2025 */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0px;
  color: #333;
  background: black;
}


main {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

.content-section {
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.about {
  background-color: white;
}

.projects {
  background-color: white;

}
.experience {
  background-color: white;
}


.image-container {
  height: 100vh;
  width: 45%;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-container {
  height: 100vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container .section-header {
  margin: 50px;
  width: 75%;

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }
}

.content-container .content-sub-section {
  width: 75%;

}

  .education-details {
    display: flex;
    flex-direction: row;

    p {
      font-size: 0.7rem;
      margin: 0;
      padding: 10px; 3%;

      b {
	font-size: 0.8rem;
      }
    }
  }


.content-container h4 {
  padding-left: 5%;
  margin: 0;
}

.content-container ul {
  text-align: center;
  padding: 0;
  width: 20%;
  list-style: none;
}

.content-container li {
  margin: 10px;
}

.content-container a {
  color: rgba(150, 100, 255, 1);
}

.content-container a:hover {
  color: blue;
}

#pinned-projects {
  margin-top: 20px;
  padding: 0;
}


.content-container figcaption {
  margin-top: auto;
  align-self: flex-start;
  width: 60%;
  padding: 10px;
  color: grey;
  font-size: 0.9rem;
  font-style: italic;
}





.bg-section {
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

#bg-about {
  opacity: 0.5;
  background-image: url('images/bg-1.jpg');
}

#bg-projects {
  opacity: 0.4;
  background-image: url('images/bg-2.jpg');
}

#bg-experience {
  opacity: 0.4;
  background-image: url('images/bg-3.jpg');
}








footer {
  scroll-snap-align: none;
  height: 50%;
  padding-top: 30px;
  margin: 0 30% 0 30%;
  font-style: italic;
  color: lightgrey;
}

footer a {
  color: rgba(150, 100, 255, 1);
}

footer a:hover {
  color: blue;
}
